* {
	border-radius:0 0 0 0;
	box-sizing: border-box;
}
/* B1 */
.style_C37 {
    display:table;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    font-size: 25pt;

    background-color: #f8c400;
    color: #3f3f3f;
}

.style_C37 > span {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 5px 0 5px;
}
/* B2 */
.style_C25 {
    display:table;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    font-size: 18pt;

    color: #7c6200;
}

.style_C25 > span {
    display:table-cell;
    text-align: left;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* H2 */
.style_C21 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C21 > span {
    display:table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0 5px 0 5px;
}
/* B3 */
.style_C26 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #ffffff;
    color: #595959;
}

.style_C26 > span {
    display:table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0 5px 0 5px;
}
/* B4 */
.style_C3d {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #3f3f3f;
    color: #f8c400;
}

.style_C3d > span {
    display:table-cell;
    text-align: left;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* E4 */
.style_C42 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #3f3f3f;
    color: #595959;
}

.style_C42 > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* H4 */
.style_C38 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #3f3f3f;
    color: #f8c400;
}

.style_C38 > span {
    display:table-cell;
    text-align: left;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* B5 */
.style_C2c__combo_box {
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    padding: 0 5px 0 5px;
    font-size: 18pt;

    background: linear-gradient(#3f3f3f , #393939) no-repeat;
    border: 1px solid #303030;
    color: #ffffff;
}

.style_C2c__combo_box:hover {
    background: linear-gradient(#595959 , #525252) no-repeat;
    border-color: #454545;
    color: #ffffff;
}
.style_C2c__combo_box:active {
    background: linear-gradient(#3b3b3b , #363636) no-repeat;
    border-color: #2d2d2d;
    color: #ffffff;
}
.style_C2c__combo_box:disabled {
    background: linear-gradient(rgba(63, 63 ,63, 0.498) , rgba(57, 57 ,57, 0.498));
    border-color: rgba(48, 48 ,48, 0.498);
    color: #ffffff;
}

.style_C2c__combo_box > * {
	padding: 0 0 0 0;
    background-color: #595959;
    border-color: transparent;
    color: #ffffff;
}

/* E5 */
.style_C22 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #3f3f3f;
    color: #ffffff;
}

.style_C22 > span {
    display:table-cell;
    text-align: left;
    vertical-align: middle;
    padding: 0 5px 0 5px;
}
/* H5 */
.style_C33__combo_box {
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    padding: 0 5px 0 5px;
    font-size: 18pt;

    background: linear-gradient(#3f3f3f , #393939) no-repeat;
    border: 1px solid #303030;
    color: #ffffff;
}

.style_C33__combo_box:hover {
    background: linear-gradient(#595959 , #525252) no-repeat;
    border-color: #454545;
    color: #ffffff;
}
.style_C33__combo_box:active {
    background: linear-gradient(#3b3b3b , #363636) no-repeat;
    border-color: #2d2d2d;
    color: #ffffff;
}
.style_C33__combo_box:disabled {
    background: linear-gradient(rgba(63, 63 ,63, 0.498) , rgba(57, 57 ,57, 0.498));
    border-color: rgba(48, 48 ,48, 0.498);
    color: #ffffff;
}

.style_C33__combo_box > * {
	padding: 0 0 0 0;
    background-color: #595959;
    border-color: transparent;
    color: #ffffff;
}

/* J5 */
.style_C30 {
    display:table;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    font-size: 18pt;

    background-color: #3f3f3f;
    color: #ffffff;
}

.style_C30 > span {
    display:table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0 5px 0 5px;
}
/* L5 */
.style_C33 {
    display:table;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    font-size: 18pt;

    background-color: #3f3f3f;
    color: #ffffff;
}

.style_C33 > span {
    display:table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0 5px 0 5px;
}
/* B6 */
.style_C3f {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #3f3f3f;
    color: #f8c400;
}

.style_C3f > span {
    display:table-cell;
    text-align: left;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* H6 */
.style_C11 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #3f3f3f;
    color: #f8c400;
}

.style_C11 > span {
    display:table-cell;
    text-align: left;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* I6 */
.style_C20 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #3f3f3f;
    color: #f8c400;
}

.style_C20 > span {
    display:table-cell;
    text-align: left;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* J6 */
.style_C35 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #3f3f3f;
    color: #f8c400;
}

.style_C35 > span {
    display:table-cell;
    text-align: left;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* B7 */
.style_C27__combo_box {
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    padding: 0 5px 0 5px;
    font-size: 18pt;

    background: linear-gradient(#3f3f3f , #393939) no-repeat;
    border: 1px solid #303030;
    color: #ffffff;
}

.style_C27__combo_box:hover {
    background: linear-gradient(#595959 , #525252) no-repeat;
    border-color: #454545;
    color: #ffffff;
}
.style_C27__combo_box:active {
    background: linear-gradient(#3b3b3b , #363636) no-repeat;
    border-color: #2d2d2d;
    color: #ffffff;
}
.style_C27__combo_box:disabled {
    background: linear-gradient(rgba(63, 63 ,63, 0.498) , rgba(57, 57 ,57, 0.498));
    border-color: rgba(48, 48 ,48, 0.498);
    color: #ffffff;
}

.style_C27__combo_box > * {
	padding: 0 0 0 0;
    background-color: #595959;
    border-color: transparent;
    color: #ffffff;
}

/* H7 */
.style_C0e {
    display:table;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    font-size: 18pt;

    background-color: #3f3f3f;
    color: #ffffff;
}

.style_C0e > span {
    display:table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0 5px 0 5px;
}
/* I7 */
.style_C12 {
    display:table;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    font-size: 18pt;

    background-color: #3f3f3f;
    color: #ffffff;
}

.style_C12 > span {
    display:table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0 5px 0 5px;
}
/* J7 */
.style_C32 {
    display:table;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    font-size: 18pt;

    background-color: #3f3f3f;
    color: #ffffff;
}

.style_C32 > span {
    display:table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0 5px 0 5px;
}
/* L7 */
.style_C23__combo_box {
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    padding: 0 5px 0 5px;
    font-size: 18pt;

    background: linear-gradient(#3f3f3f , #393939) no-repeat;
    border: 1px solid #303030;
    color: #ffffff;
}

.style_C23__combo_box:hover {
    background: linear-gradient(#595959 , #525252) no-repeat;
    border-color: #454545;
    color: #ffffff;
}
.style_C23__combo_box:active {
    background: linear-gradient(#3b3b3b , #363636) no-repeat;
    border-color: #2d2d2d;
    color: #ffffff;
}
.style_C23__combo_box:disabled {
    background: linear-gradient(rgba(63, 63 ,63, 0.498) , rgba(57, 57 ,57, 0.498));
    border-color: rgba(48, 48 ,48, 0.498);
    color: #ffffff;
}

.style_C23__combo_box > * {
	padding: 0 0 0 0;
    background-color: #595959;
    border-color: transparent;
    color: #ffffff;
}

/* B8 */
.style_C44 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C44 > span {
    display:table-cell;
    text-align: left;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* E8 */
.style_C2a {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C2a > span {
    display:table-cell;
    text-align: left;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* B9 */
.style_C3b {
    display:table;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    font-size: 20pt;

    color: #7c6200;
}

.style_C3b > span {
    display:table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0 5px 0 5px;
}
/* E9 */
.style_C3c {
    display:table;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    font-size: 20pt;

    color: #7c6200;
}

.style_C3c > span {
    display:table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0 5px 0 5px;
}
/* H9 */
.style_C2e {
    display:table;
    word-wrap: break-word;
    font-family: Franklin Gothic Medium;
    font-size: 20pt;

    color: #7c6200;
}

.style_C2e > span {
    display:table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0 5px 0 5px;
}
/* B10 */
.style_C13 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #3f3f3f;
    color: #f8c400;
}

.style_C13 > span {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 5px 0 5px;
}
/* C10 */
.style_C02 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #3f3f3f;
    color: #f8c400;
}

.style_C02 > span {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 5px 0 5px;
}
/* M10 */
.style_C14 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #3f3f3f;
    color: #f8c400;
}

.style_C14 > span {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 5px 0 5px;
}
/* B11 */
.style_C15 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C15 > span {
    display:table-cell;
    text-align: right;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* C11 */
.style_C09 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C09 > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* E11 */
.style_C10 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C10 > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* F11 */
.style_C0b {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C0b > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* I11 */
.style_C0c {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C0c > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* K11 */
.style_C0d {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C0d > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* L11 */
.style_C0f {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #0c0c0c;
}

.style_C0f > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* M11 */
.style_C16 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    background-color: #d8d8d8;
    color: #595959;
}

.style_C16 > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* E12 */
.style_C0a {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C0a > span {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 5px 0 5px;
}
/* M20 */
.style_C17 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C17 > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* B21 */
.style_C18 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C18 > span {
    display:table-cell;
    text-align: right;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* C21 */
.style_C19 {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C19 > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* E21 */
.style_C1a {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C1a > span {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 5px 0 5px;
}
/* F21 */
.style_C1b {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C1b > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* I21 */
.style_C1c {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C1c > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* K21 */
.style_C1d {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C1d > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* L21 */
.style_C1e {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #0c0c0c;
}

.style_C1e > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
/* M21 */
.style_C1f {
    display:table;
    word-wrap: break-word;
    font-family: Euphemia;
    font-size: 11pt;

    color: #595959;
}

.style_C1f > span {
    display:table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
}
