.root {
	-fx-background-color: white;
}
* {
	-fx-border-radius:0 0 0 0;
	-fx-background-radius:0 0 0 0;
}
/* B1 */
.style_C06 {
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-wrap-text: false;
    -fx-font-family: Franklin Gothic Medium;
    -fx-padding: 0 5px 0 5px;
    -fx-font-size: 25pt;

    -fx-base: #fadb65;
    -fx-body-color: -fx-color;
    -fx-background-color: -fx-body-color;
    -fx-text-fill: #3f3f3f;
}
/* C1 */
.style_C03 {
    -fx-text-alignment: center;
    -fx-alignment: bottom-center;
    -fx-wrap-text: true;
    -fx-font-family: Euphemia;
    -fx-padding: 0 5px 0 5px;
    -fx-font-size: 8pt;

    -fx-base: #fadb65;
    -fx-body-color: -fx-color;
    -fx-background-color: -fx-body-color;
    -fx-text-fill: #3f3f3f;
}
/* B2 */
.style_C04 {
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-wrap-text: false;
    -fx-font-family: Euphemia;
    -fx-padding: 0 5px 0 5px;
    -fx-font-size: 8pt;

    -fx-base: #ffffff;
    -fx-body-color: -fx-color;
    -fx-background-color: -fx-body-color;
    -fx-text-fill: #3f3f3f;
}
/* C2 */
.style_C05 {
    -fx-text-alignment: center;
    -fx-alignment: bottom-center;
    -fx-wrap-text: true;
    -fx-font-family: Euphemia;
    -fx-padding: 0 5px 0 5px;
    -fx-font-size: 8pt;

    -fx-base: #ffffff;
    -fx-body-color: -fx-color;
    -fx-background-color: -fx-body-color;
    -fx-text-fill: #3f3f3f;
}
/* B3 */
.style_C07 {
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-wrap-text: false;
    -fx-font-family: Euphemia;
    -fx-padding: 0 5px 0 5px;
    -fx-font-size: 11pt;

    -fx-text-fill: #595959;
}
/* D3 */
.style_C08 {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-wrap-text: false;
    -fx-font-family: Euphemia;
    -fx-padding: 0 5px 0 5px;
    -fx-font-size: 11pt;

    -fx-text-fill: #595959;
}

/* _ExerciseTypes_TableView_B3 [B3:D8] - Exercise Type Lookup */
/*Exercise Type Lookup.colors {
	LT1: #ffffff;
	DK1: #000000;
	LT2: #f2f2f2;
	DK2: #404040;
	ACCENT1: #f8c400;
	ACCENT2: #3e9fe6;
	ACCENT3: #fa9029;
	ACCENT4: #7cbc42;
	ACCENT5: #eb4e47;
	ACCENT6: #9560b4;
	HLINK: #3f9fe6;
	FOLHLINK: #9560b4;
}
*/Exercise Type Lookup.wholeTable {
}
Exercise Type Lookup.headerRow {
	-fx-text-fill: #f8c400;
}
/* ------------ Exercise Type Lookup_T00__table_view -------------------*/
.Exercise Type Lookup_T00__table_view * {
    /* Reset radius */
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.Exercise Type Lookup_T00__table_view {
    -fx-base: #ffffff;/*headerRow|wholeTable|firstRowStripe ACCENT|white - FillBackgroundColor|FontColor no-tint*/
    -fx-body-color: -fx-color;
    -fx-control-inner-background: #ffffff;/* firstRowStripe|white - FillBackgroundColor */
    -fx-control-inner-background-alt: #ffffff;/* wholeTable|white - FillBackgroundColor */
    -fx-text-fill: #f8c400;/* wholeTable|black - FontColor */
    -fx-font-family: Euphemia;
    -fx-font-size: 11pt;
}

.Exercise Type Lookup_T00__table_view .table-row-cell {
    /*-fx-text-fill: #f8c400;/* wholeTable|black - FontColor */
	-fx-text-base-color: #f8c400;/* wholeTable|black - FontColor */
	/*-fx-table-cell-border-color: lightgray;/*Removes all borders*/
}

.Exercise Type Lookup_T00__table_view .table-row-cell > .table-cell {
	/*-fx-table-cell-border-color: lightgray;/*Removes left-right borders*/
	-fx-padding: 0 5px 0 5px;
}

.Exercise Type Lookup_T00__table_view .column-header-background * {
    -fx-text-fill: #f8c400;/* headerRow|black - FontColor */
    -fx-body-color: #ffffff;/* headerRow|wholeTable|white - FillBackgroundColor */
    /*-fx-inner-border: #ffffff;/* headerRow|white - FillBackgroundColor */
    -fx-text-base-color: #f8c400;/* headerRow|black - FontColor */
    -fx-alignment: center-left;
}

.Exercise Type Lookup_T00__table_view .column-header {
	-fx-padding: 0 5px 0 5px;
    -fx-font-family: Euphemia;
    -fx-font-size: 11pt;
}

