.root {
	-fx-background-color: white;
}
* {
	-fx-border-radius:0 0 0 0;
	-fx-background-radius:0 0 0 0;
}
/* B2 */
.style_C00 {
    -fx-wrap-text: false;
    -fx-font-family: Calibri;
    -fx-padding: 0 5px 0 5px;
    -fx-font-size: 11pt;

}
/* B3 */
.style_C02 {
    -fx-wrap-text: false;
    -fx-font-family: Calibri;
    -fx-padding: 0 5px 0 5px;
    -fx-font-size: 11pt;

}
/* E3 */
.style_C04 {
    -fx-wrap-text: false;
    -fx-font-family: Calibri;
    -fx-padding: 0 5px 0 5px;
    -fx-font-size: 11pt;

}
/* B16 */
.style_C01 {
    -fx-wrap-text: false;
    -fx-font-family: Calibri;
    -fx-padding: 0 5px 0 5px;
    -fx-font-size: 11pt;

}

/* _Table2_TableView_B2 [B2:M11] - TableStyleDark2 */
/*TableStyleDark2.colors {
	LT1: #ffffff;
	DK1: #000000;
	LT2: #e7e6e6;
	DK2: #44546a;
	ACCENT1: #4472c4;
	ACCENT2: #ed7d31;
	ACCENT3: #a5a5a5;
	ACCENT4: #ffc000;
	ACCENT5: #5b9bd5;
	ACCENT6: #70ad47;
	HLINK: #0563c1;
	FOLHLINK: #954f72;
}
*/TableStyleDark2.wholeTable {
	-fx-text-fill: #ffffff;
	-fx-background-color: #4472c4;
}
TableStyleDark2.firstColumnStripe {
	-fx-background-color: #335593;
}
TableStyleDark2.firstRowStripe {
	-fx-background-color: #335593;
}
TableStyleDark2.lastColumn {
	-fx-text-fill: #ffffff;
	-fx-background-color: #335593;
}
TableStyleDark2.firstColumn {
	-fx-text-fill: #ffffff;
	-fx-background-color: #335593;
}
TableStyleDark2.headerRow {
	-fx-text-fill: #ffffff;
	-fx-background-color: #000000;
}
TableStyleDark2.totalRow {
	-fx-text-fill: #ffffff;
	-fx-background-color: #223962;
}
/* ------------ TableStyleDark2_T01__table_view -------------------*/
.TableStyleDark2_T01__table_view * {
    /* Reset radius */
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.TableStyleDark2_T01__table_view {
    -fx-base: #000000;/*headerRow|wholeTable|firstRowStripe ACCENT|white - FillBackgroundColor|FontColor no-tint*/
    -fx-body-color: -fx-color;
    -fx-control-inner-background: #335593;/* firstRowStripe|white - FillBackgroundColor */
    -fx-control-inner-background-alt: #4472c4;/* wholeTable|white - FillBackgroundColor */
    -fx-text-fill: #ffffff;/* wholeTable|black - FontColor */
    -fx-font-family: Calibri;
    -fx-font-size: 11pt;
}

.TableStyleDark2_T01__table_view .table-row-cell {
    /*-fx-text-fill: #ffffff;/* wholeTable|black - FontColor */
	-fx-text-base-color: #ffffff;/* wholeTable|black - FontColor */
	/*-fx-table-cell-border-color: lightgray;/*Removes all borders*/
}

.TableStyleDark2_T01__table_view .table-row-cell > .table-cell {
	/*-fx-table-cell-border-color: lightgray;/*Removes left-right borders*/
	-fx-padding: 0 5px 0 5px;
	-fx-alignment: center-right;
}

.TableStyleDark2_T01__table_view .column-header-background * {
    -fx-text-fill: #ffffff;/* headerRow|black - FontColor */
    -fx-body-color: #000000;/* headerRow|wholeTable|white - FillBackgroundColor */
    /*-fx-inner-border: #000000;/* headerRow|white - FillBackgroundColor */
    -fx-text-base-color: #ffffff;/* headerRow|black - FontColor */
    -fx-alignment: center-left;
}

.TableStyleDark2_T01__table_view .column-header {
	-fx-padding: 0 5px 0 5px;
    -fx-font-family: Calibri;
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
}


/* _Table24_TableView_B15 [B15:M24] - TableStyleDark2 */

/* _Table245_TableView_B27 [B27:M36] - TableStyleLight17 */
/*TableStyleLight17.colors {
	LT1: #ffffff;
	DK1: #000000;
	LT2: #e7e6e6;
	DK2: #44546a;
	ACCENT1: #4472c4;
	ACCENT2: #ed7d31;
	ACCENT3: #a5a5a5;
	ACCENT4: #ffc000;
	ACCENT5: #5b9bd5;
	ACCENT6: #70ad47;
	HLINK: #0563c1;
	FOLHLINK: #954f72;
}
*/TableStyleLight17.wholeTable {
	-fx-text-fill: #000000;
}
TableStyleLight17.firstColumnStripe {
	-fx-background-color: #fbe4d5;
}
TableStyleLight17.firstRowStripe {
	-fx-background-color: #fbe4d5;
}
TableStyleLight17.lastColumn {
	-fx-text-fill: #000000;
}
TableStyleLight17.firstColumn {
	-fx-text-fill: #000000;
}
TableStyleLight17.headerRow {
	-fx-text-fill: #000000;
}
TableStyleLight17.totalRow {
	-fx-text-fill: #000000;
}
/* ------------ TableStyleLight17_T1b__table_view -------------------*/
.TableStyleLight17_T1b__table_view * {
    /* Reset radius */
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.TableStyleLight17_T1b__table_view {
    -fx-base: #ed7d31;/*headerRow|wholeTable|firstRowStripe ACCENT|white - FillBackgroundColor|FontColor no-tint*/
    -fx-body-color: -fx-color;
    -fx-control-inner-background: #fbe4d5;/* firstRowStripe|white - FillBackgroundColor */
    -fx-control-inner-background-alt: #ffffff;/* wholeTable|white - FillBackgroundColor */
    -fx-text-fill: #000000;/* wholeTable|black - FontColor */
    -fx-font-family: Calibri;
    -fx-font-size: 11pt;
}

.TableStyleLight17_T1b__table_view .table-row-cell {
    /*-fx-text-fill: #000000;/* wholeTable|black - FontColor */
	-fx-text-base-color: #000000;/* wholeTable|black - FontColor */
	/*-fx-table-cell-border-color: lightgray;/*Removes all borders*/
}

.TableStyleLight17_T1b__table_view .table-row-cell > .table-cell {
	/*-fx-table-cell-border-color: lightgray;/*Removes left-right borders*/
	-fx-padding: 0 5px 0 5px;
	-fx-alignment: center-right;
}

.TableStyleLight17_T1b__table_view .column-header-background * {
    -fx-text-fill: #000000;/* headerRow|black - FontColor */
    -fx-body-color: #ffffff;/* headerRow|wholeTable|white - FillBackgroundColor */
    /*-fx-inner-border: #ffffff;/* headerRow|white - FillBackgroundColor */
    -fx-text-base-color: #000000;/* headerRow|black - FontColor */
    -fx-alignment: center-left;
}

.TableStyleLight17_T1b__table_view .column-header {
	-fx-padding: 0 5px 0 5px;
    -fx-font-family: Calibri;
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
}


/* _Table2456_TableView_B39 [B39:M48] - TableStyleLight14 */
/*TableStyleLight14.colors {
	LT1: #ffffff;
	DK1: #000000;
	LT2: #e7e6e6;
	DK2: #44546a;
	ACCENT1: #4472c4;
	ACCENT2: #ed7d31;
	ACCENT3: #a5a5a5;
	ACCENT4: #ffc000;
	ACCENT5: #5b9bd5;
	ACCENT6: #70ad47;
	HLINK: #0563c1;
	FOLHLINK: #954f72;
}
*/TableStyleLight14.wholeTable {
	-fx-text-fill: #000000;
}
TableStyleLight14.firstColumnStripe {
}
TableStyleLight14.secondColumnStripe {
}
TableStyleLight14.firstRowStripe {
}
TableStyleLight14.secondRowStripe {
}
TableStyleLight14.lastColumn {
	-fx-text-fill: #000000;
}
TableStyleLight14.firstColumn {
	-fx-text-fill: #000000;
}
TableStyleLight14.headerRow {
	-fx-text-fill: #ffffff;
	-fx-background-color: #70ad47;
}
TableStyleLight14.totalRow {
	-fx-text-fill: #000000;
}
/* ------------ TableStyleLight14_T18__table_view -------------------*/
.TableStyleLight14_T18__table_view * {
    /* Reset radius */
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.TableStyleLight14_T18__table_view {
    -fx-base: #70ad47;/*headerRow|wholeTable|firstRowStripe ACCENT|white - FillBackgroundColor|FontColor no-tint*/
    -fx-body-color: -fx-color;
    -fx-control-inner-background: #ffffff;/* firstRowStripe|white - FillBackgroundColor */
    -fx-control-inner-background-alt: #ffffff;/* wholeTable|white - FillBackgroundColor */
    -fx-text-fill: #000000;/* wholeTable|black - FontColor */
    -fx-font-family: Calibri;
    -fx-font-size: 11pt;
}

.TableStyleLight14_T18__table_view .table-row-cell {
    /*-fx-text-fill: #000000;/* wholeTable|black - FontColor */
	-fx-text-base-color: #000000;/* wholeTable|black - FontColor */
	/*-fx-table-cell-border-color: lightgray;/*Removes all borders*/
}

.TableStyleLight14_T18__table_view .table-row-cell > .table-cell {
	/*-fx-table-cell-border-color: lightgray;/*Removes left-right borders*/
	-fx-padding: 0 5px 0 5px;
	-fx-alignment: center-right;
}

.TableStyleLight14_T18__table_view .column-header-background * {
    -fx-text-fill: #ffffff;/* headerRow|black - FontColor */
    -fx-body-color: #70ad47;/* headerRow|wholeTable|white - FillBackgroundColor */
    /*-fx-inner-border: #70ad47;/* headerRow|white - FillBackgroundColor */
    -fx-text-base-color: #ffffff;/* headerRow|black - FontColor */
    -fx-alignment: center-left;
}

.TableStyleLight14_T18__table_view .column-header {
	-fx-padding: 0 5px 0 5px;
    -fx-font-family: Calibri;
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
}

